<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>SinglePageApiMarvel</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div class="navMarvel container border-top border-white">
        <div class="insider row">
            <div class="col-sm-1 border border-white" style="--bs-border-opacity: .4;"></div>
            <div class="col-sm-2 d-flex justify-content-center border border-white" style="--bs-border-opacity: .4;">
                <a class="insiderLink row" href="#"> 
                    <img class="insiderLogoImage col-md-5" src="../../assets/Images/SinglePageMarvel/insider-logo-w-nav-v3-2x_0.png"/> 
                    <p class="insiderNameText w-50 col-md-3">ANDRES RODRIGUEZ</p>
                </a>
            </div>
            <div class="col-sm-6 d-flex justify-content-center border border-white" style="--bs-border-opacity: .4;">
                <a class="marvelLink row" href="#"> 
                    <img class="marvelLogoImage col-md-5" src="../../assets/Images/SinglePageMarvel/Marvel-Comics-logo.png"/>
                </a>
            </div>
            <div class="col-sm-2 d-flex justify-content-center border border-white" style="--bs-border-opacity: .4;">
                <a class="insiderLink row" href="#"> 
                    <img class="unlimitedLogoImage col-md-6" src="../../assets/Images/SinglePageMarvel/mu-logo-w-nav-v3-2x_0.png"/> 
                    <p class="unlimitedText w-50 col-md-3">SUSCRIBE</p>
                </a>
            </div>
            <div class="col-sm-1 border border-white" style="--bs-border-opacity: .4;"></div>
        </div>

        <nav class="navbar navbar-expand-lg d-flex justify-content-center">
            <div class="menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">COMICS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CHARACTERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MOVIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TV SHOWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GAMES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">VIDEOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MORE</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <section class="body">
        <div class="character">
            <img class="hankPymImage" src="../../assets/Images/SinglePageMarvel/Hank Pym.jpeg"/>
            <div class="descriptionCharacter">
                <h6>HENRY JONATHAN PYM</h6>
                <h1 style="font-weight: bold;">HANK PYM</h1>
                <p>
                    Dr. Henry "Hank" Pym, the creator of the wondrous Pym particles, has been a <br>
                    crimefighting hero, brilliant inventor, and fearless explorer.
                </p>
            </div>
        </div>

        <nav class="subMenu navbar navbar-expand-lg d-flex justify-content-center">
            <div class="subMenuDiv">
                <ul class="subMenuList navbar-nav">
                    <li class="nav-item">
                        <a class="subMenuOption nav-link" href="#">OVERVIEW</a>
                    </li>
                    <li class="nav-item">
                        <a class="subMenuOption nav-link" href="#">IN COMICS PROFILE</a>
                    </li>
                    <li class="nav-item">
                        <a class="subMenuOption nav-link" href="#">IN COMICS FULL REPORT</a>
                    </li>
                </ul>
            </div>
        </nav>

    </section>
</body>
</html>
